@font-face {
  font-family: SanBold;
  src: url("../fonts/OpenSans-Bold.ttf") format("ttf"); }
@font-face {
  font-family: Sans;
  src: url("../fonts/OpenSans-Regular.ttf") format("ttf"); }
@font-face {
  font-family: SF;
  src: url("../fonts/sf.woff") format("woff"), url("../fonts/sf.woff2") format("woff2"), url("../fonts/SF.otf"); }
body {
  font-family: Sans, Helvetica, tahoma, sans-serif; }

a:hover {
  text-decoration: none; }

.title-head {
  font: 32px SanBold; }

.text-title {
  color: #f39316; }

.text-link {
  color: #4a90e2; }

.btn-custom {
  background: #4a90e2;
  color: #fff; }

.btn-common {
  transition: 0.5s;
  font-size: 20px; }
  .btn-common:hover {
    background: #f39316;
    transform: scale(1.2); }
  @media screen and (max-width: 768px) {
    .btn-common {
      font-size: 13px; } }

.btn-border {
  border: 1px solid #4a90e2; }

.btn-size {
  padding: 12px 40px;
  text-transform: uppercase;
  border-radius: 29px; }
  @media screen and (max-width: 425px) {
    .btn-size {
      padding: 12px 15px; } }

.btn-more {
  font-size: 15px;
  padding: 15px 30px;
  border: none; }

p.title-content {
  font-size: 20px;
  color: #fff;
  line-height: 1.5; }
  @media screen and (max-width: 768px) {
    p.title-content {
      font-size: 13px; } }

p.content {
  font-size: 16px; }

h3.title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  color: #f39316; }
  @media screen and (max-width: 425px) {
    h3.title {
      font-size: 24px; } }

h4.title {
  font-size: 21px;
  font-weight: 600; }

h5.title {
  font-size: 17.65px;
  text-transform: uppercase;
  font-weight: 600; }

h3.title-news {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  color: #006644;
  padding-bottom: 20px; }

h4.title-news {
  font-size: 35px;
  color: #006644; }
  @media screen and (max-width: 768px) {
    h4.title-news {
      padding-top: 15px;
      font-size: 25px; } }

h5.title-news {
  font-size: 20px;
  color: #006644; }

p.content-news {
  font-size: 14px;
  margin-bottom: 5px; }

p.date {
  font-size: 13px;
  margin-bottom: 5px; }

p.italic {
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
  font-style: italic; }

p.content-news {
  font-size: 16px;
  text-align: justify;
  margin: 25px 0;
  line-height: 1.7rem; }

.bg-fix {
  padding: 180px 0px 124px 0px;
  color: #fff; }
  .bg-fix .banner-title {
    font: 62px SanBold; }
  .bg-fix p {
    font-size: 18px; }

.p-70 {
  padding: 70px 0; }
  @media screen and (max-width: 768px) {
    .p-70 {
      padding: 20px 0; } }

.bg-gray {
  background: #f9fafb; }

.bg-blue {
  background: #0f6fdf; }

.bg-logo-chim {
  background: url("../img/bg/logo_chim.png") no-repeat;
  background-size: 30%;
  background-position: center 50px; }

.banner {
  color: #fff; }
  .banner .banner-title {
    line-height: 1.2 !important; }
    @media screen and (min-width: 320px) {
      .banner .banner-title {
        font: 36px SanBold; } }
    @media screen and (min-width: 425px) {
      .banner .banner-title {
        font: 48px SanBold; } }
    @media screen and (min-width: 768px) {
      .banner .banner-title {
        font: 52px SanBold; } }
  .banner p {
    font-size: 18px; }
  @media screen and (min-width: 320px) {
    .banner {
      padding: 165px 0px 124px 0px; } }
  @media screen and (min-width: 1200px) {
    .banner {
      padding: 200px 0px 124px 0px; } }

.article {
  background: #f9fafb;
  padding: 70px 0px 55px 0px; }
  .article .card {
    height: 100%; }
  .article .card-title {
    font-size: 24px;
    overflow: hidden; }
    .article .card-title a {
      color: #f39316; }
    @media screen and (min-width: 320px) {
      .article .card-title {
        height: auto; } }
    @media screen and (min-width: 768px) {
      .article .card-title {
        height: 60px; } }
  .article .card-text {
    font-size: 14px;
    overflow: hidden; }
    @media screen and (min-width: 320px) {
      .article .card-text {
        height: auto; } }
    @media screen and (min-width: 768px) {
      .article .card-text {
        height: 90px; } }
  @media screen and (min-width: 320px) {
    .article div[class*='col-'] {
      margin-bottom: 15px; } }

.slogan {
  padding: 102px 0px 85px 0px; }
  .slogan .icon img {
    padding: 0px 0px 51px 0px; }
    @media screen and (min-width: 320px) {
      .slogan .icon img {
        width: 120px; } }
    @media screen and (min-width: 425px) {
      .slogan .icon img {
        width: 130px; } }
  .slogan h4 {
    padding: 0px 0px 20px 0px;
    font-weight: lighter !important; }
    @media screen and (min-width: 425px) {
      .slogan h4 {
        font-size: 1.2rem;
        line-height: 1.5rem !important; } }
    @media screen and (min-width: 768px) {
      .slogan h4 {
        font-size: 1.8rem;
        line-height: 2.8rem !important; } }
  .slogan .btn-talk {
    background: #4a90e2;
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    padding: 14px 35px;
    transition: all .2s; }
    .slogan .btn-talk i {
      padding: 0px 2px; }
    .slogan .btn-talk:hover {
      background: #fff;
      border: 1px solid #4a90e2;
      color: #4a90e2; }

.awards .owl-carousel .owl-item img {
  width: auto;
  margin: 30px auto; }
  @media screen and (min-width: 320px) {
    .awards .owl-carousel .owl-item img {
      outline-offset: 0px;
      outline: 1px dashed transparent; } }
  @media screen and (min-width: 425px) {
    .awards .owl-carousel .owl-item img {
      outline-offset: 12px;
      outline: 1px dashed #e8e8e8; } }
.awards .owl-carousel .owl-nav {
  display: none; }
.awards .owl-carousel .owl-dots span {
  width: 8px;
  height: 8px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 0px; }
.awards .owl-carousel .owl-dots .active span {
  width: 12px;
  height: 12px;
  background: #e8e8e8; }
@media screen and (min-width: 320px) {
  .awards .owl-carousel .owl-dots {
    margin-top: 30px !important; } }
@media screen and (min-width: 768px) {
  .awards .owl-carousel .owl-dots {
    margin-top: 60px !important; } }

.list-client .list-team {
  margin-top: 30px; }
  .list-client .list-team .list-item {
    margin-bottom: 30px; }
.list-client .text-link {
  margin: 89px 0px 81px 0px;
  transition: all .5s;
  padding: 12px 20px; }
  .list-client .text-link:hover {
    background: #4a90e2;
    color: #fff; }
  @media screen and (min-width: 320px) {
    .list-client .text-link {
      margin: 50px 0px 10px 0px;
      padding: 12px 5px; } }
  @media screen and (min-width: 425px) {
    .list-client .text-link {
      margin: 50px 0px 10px 0px;
      padding: 12px 20px; } }

.relates .relate-title {
  font-family: SanBold;
  font-size: 20px; }
  .relates .relate-title a {
    color: #f39316; }
.relates .relate-param {
  font-size: 14px;
  padding-top: 15px;
  color: #9b9b9b; }
.relates .relate-more {
  font-size: 14px;
  color: #4a90e2; }
.relates .relate-item {
  width: 100%;
  border: 1px solid #efefef;
  margin-bottom: 15px; }
  .relates .relate-item .relate-img {
    width: 100%;
    height: 230px; }
    .relates .relate-item .relate-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .relates .relate-item .relate-content {
    padding: 29px 27px 30px 27px; }
    @media screen and (min-width: 320px) {
      .relates .relate-item .relate-content {
        padding: 29px 10px 30px 10px; } }
    @media screen and (min-width: 768px) {
      .relates .relate-item .relate-content {
        padding: 20px 10px 5px 10px; } }
    @media screen and (min-width: 980px) {
      .relates .relate-item .relate-content {
        padding: 30px 15px 15px 15px; } }
    @media screen and (min-width: 1200px) {
      .relates .relate-item .relate-content {
        padding: 30px 15px 20px 15px; } }
    .relates .relate-item .relate-content p {
      margin-bottom: 0rem; }
      @media screen and (min-width: 980px) {
        .relates .relate-item .relate-content p {
          margin-bottom: 1rem; } }
.relates .relate-list {
  border: 1px solid #efefef;
  margin-bottom: 32px;
  overflow: hidden;
  height: 225px; }
  .relates .relate-list_img {
    float: left;
    width: 36%;
    height: 225px;
    overflow: hidden; }
    .relates .relate-list_img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    @media screen and (min-width: 320px) {
      .relates .relate-list_img {
        float: none;
        width: 100%; } }
    @media screen and (min-width: 768px) {
      .relates .relate-list_img {
        float: left;
        height: 235px;
        width: 36%; } }
  @media screen and (min-width: 320px) {
    .relates .relate-list_content {
      float: none;
      width: 100%;
      padding: 20px 10px; } }
  @media screen and (min-width: 768px) {
    .relates .relate-list_content {
      float: left;
      width: 64%;
      padding: 10px;
      height: 230px; } }
  @media screen and (min-width: 1200px) {
    .relates .relate-list_content {
      padding: 20px; } }
  @media screen and (min-width: 768px) {
    .relates .relate-list_content .relate-title {
      font-size: 16px; } }
  @media screen and (min-width: 1200px) {
    .relates .relate-list_content .relate-title {
      font-size: 20px; } }
  .relates .relate-list_content .relate-param {
    font-size: 14px;
    padding-top: 15px;
    color: #9b9b9b; }
    @media screen and (min-width: 768px) {
      .relates .relate-list_content .relate-param {
        padding-top: 0px; } }
    @media screen and (min-width: 980px) {
      .relates .relate-list_content .relate-param {
        padding-top: 15px; } }
  .relates .relate-list_content p {
    margin-bottom: 0rem; }
    @media screen and (min-width: 1200px) {
      .relates .relate-list_content p {
        margin-bottom: 1rem; } }
  @media screen and (min-width: 320px) {
    .relates .relate-list {
      height: auto;
      margin-bottom: 15px; } }
  @media screen and (min-width: 768px) {
    .relates .relate-list {
      height: 235px;
      margin-bottom: 32px; } }
  @media screen and (min-width: 980px) {
    .relates .relate-list {
      height: 225px;
      margin-bottom: 23px; } }

.upper-first-text:first-letter {
  text-transform: uppercase;
  float: left;
  padding: 4px 8px 0 0;
  display: block;
  color: #f39316;
  font: 96px/64px sans-serif; }

.project-item {
  background: #fff;
  box-shadow: 0px 0px 5px 1px #e1e1e1;
  width: 100%;
  margin-bottom: 50px; }
  @media screen and (min-width: 320px) {
    .project-item {
      height: auto; } }
  @media screen and (min-width: 768px) {
    .project-item {
      height: 300px; } }
  @media screen and (min-width: 1200px) {
    .project-item {
      height: 360px; } }
  .project-item .project-img {
    overflow: hidden;
    float: left; }
    @media screen and (min-width: 320px) {
      .project-item .project-img {
        float: none;
        width: 100%; } }
    @media screen and (min-width: 768px) {
      .project-item .project-img {
        float: left;
        width: 35%;
        height: 300px; } }
    @media screen and (min-width: 1200px) {
      .project-item .project-img {
        height: 360px;
        width: 45%; } }
    .project-item .project-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .project-item .project-content {
    padding: 22px;
    float: left; }
    @media screen and (min-width: 320px) {
      .project-item .project-content {
        float: none;
        width: 100%; } }
    @media screen and (min-width: 768px) {
      .project-item .project-content {
        width: 65%;
        float: left;
        height: 300px; } }
    @media screen and (min-width: 1200px) {
      .project-item .project-content {
        height: 360px;
        width: 55%; } }
    .project-item .project-content h3 {
      font-size: 24px;
      font-family: SanBold; }
      .project-item .project-content h3 a {
        color: #f39316; }
      @media screen and (min-width: 320px) {
        .project-item .project-content h3 {
          margin-bottom: 20px; } }
      @media screen and (min-width: 1200px) {
        .project-item .project-content h3 {
          margin-bottom: 40px; } }
    .project-item .project-content p {
      font-size: 14px;
      color: #9b9b9b;
      height: 160px; }
      @media screen and (min-width: 320px) {
        .project-item .project-content p {
          height: auto; } }
    .project-item .project-content .btn-link {
      font-size: 14px; }
      .project-item .project-content .btn-link:hover {
        text-decoration: none; }

.project .btn-custom {
  padding: 14px 40px; }
  .project .btn-custom:hover {
    background: #fff;
    border: 1px solid #4a90e2;
    color: #4a90e2; }

.overview {
  font-size: 18px;
  padding: 10px 60px;
  margin: 10px 0px 20px 0px;
  line-height: 1.6; }

.tag a {
  background: #4a90e2;
  color: #fff;
  font-size: 12px;
  padding: 5px 14px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 5px; }
  .tag a:hover {
    background: #2665af; }
@media screen and (min-width: 320px) {
  .tag {
    height: auto;
    margin-bottom: 10px; } }
@media screen and (min-width: 980px) {
  .tag {
    height: 80px;
    margin-bottom: 0px; } }

.p-top {
  margin-top: 70px; }

.h3-title {
  font-weight: 600; }
  @media screen and (min-width: 320px) {
    .h3-title {
      font-size: 23px; } }
  @media screen and (min-width: 768px) {
    .h3-title {
      font-size: 30px; } }
  @media screen and (min-width: 1200px) {
    .h3-title {
      font-size: 45px; } }

.p-content {
  color: #f39316; }
  @media screen and (min-width: 320px) {
    .p-content {
      font-size: 13px; } }
  @media screen and (min-width: 1200px) {
    .p-content {
      font-size: 16px; } }

p.content-top {
  font-family: SanBold;
  line-height: 1.5;
  color: #4A4A4A;
  margin-bottom: 0; }
  @media screen and (min-width: 320px) {
    p.content-top {
      font-size: 18px; } }
  @media screen and (min-width: 768px) {
    p.content-top {
      font-size: 20px; } }
  @media screen and (min-width: 1200px) {
    p.content-top {
      font-size: 24px; } }

.item-help {
  margin-bottom: 40px;
  object-fit: cover; }
  @media (min-width: 768px) {
    .item-help img {
      width: 10%; } }
  @media (max-width: 767.98px) {
    .item-help img {
      width: 18%; } }

h5.title-small {
  font-family: SanBold;
  font-weight: 600;
  font-size: 21px;
  line-height: 1.4;
  color: #4A4A4A; }
  @media (max-width: 980px) {
    h5.title-small {
      font-size: 18px; } }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: -50px;
  z-index: 1;
  position: relative; }
  @media screen and (max-width: 768px) {
    .owl-theme .owl-nav.disabled + .owl-dots {
      margin-top: -25px; } }

.owl-theme .owl-dots .owl-dot span {
  width: 18px;
  height: 18px; }
  @media screen and (max-width: 768px) {
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px; } }

.scholarship {
  margin-top: 20px; }
  .scholarship .thumb {
    height: 150px;
    width: 150px;
    overflow: hidden;
    object-position: right;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    text-align: center;
    margin: 0 auto; }
    .scholarship .thumb img {
      position: absolute; }
  .scholarship .info {
    border-right: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7; }
    .scholarship .info h5 {
      color: #006644;
      padding-top: 25px; }
    .scholarship .info .ashford {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 30px; }
      .scholarship .info .ashford .img {
        position: relative; }
    .scholarship .info .img:after {
      content: "";
      height: 60px;
      color: #d7d7d7;
      border: 1px solid;
      position: absolute;
      right: -25px; }
    .scholarship .info .ashford-content {
      color: #f39316;
      text-align: left; }
      .scholarship .info .ashford-content p {
        font-size: 11px;
        margin-bottom: 5px;
        font-weight: 600;
        margin-top: 3px; }
      .scholarship .info .ashford-content p.top {
        font-size: 24px;
        font-weight: 600; }
    .scholarship .info .totallity {
      margin-top: 30px; }
      .scholarship .info .totallity p {
        margin-bottom: 3px;
        color: #28292d; }
      .scholarship .info .totallity p.hocbong {
        padding: 10px;
        margin: 0px 20px;
        border-radius: 25px 0px;
        background-color: #f39316;
        font-weight: 600;
        color: #fff; }

ul.list-title li {
  display: flex;
  padding-top: 10px;
  align-items: baseline; }
  ul.list-title li i {
    color: #fff;
    padding-right: 10px; }
  ul.list-title li span {
    text-transform: uppercase;
    color: #fff; }

.contact {
  margin-top: 20px; }
  @media screen and (max-width: 768px) {
    .contact {
      text-align: center !important; } }
  .contact a {
    position: relative;
    display: inline-block; }
    .contact a:hover span {
      background: #006644;
      color: #fff; }
    .contact a img {
      width: 75px;
      height: 75px;
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      top: -14px;
      left: -20px; }
      @media screen and (max-width: 768px) {
        .contact a img {
          position: inherit;
          left: 0;
          top: 0; } }
    .contact a span {
      display: block;
      width: max-content;
      height: 55px;
      background: #fff;
      text-align: center;
      font-size: 16px;
      color: #064;
      font-weight: 700;
      -webkit-box-shadow: 0 0 10px 3px #f4f4f4;
      box-shadow: 0 0 10px 3px #f4f4f4;
      line-height: 55px;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      padding: 0 30px;
      margin: 0 auto;
      -webkit-transition: all .3s;
      transition: all .3s;
      padding-left: 75px; }
      @media screen and (max-width: 768px) {
        .contact a span {
          height: auto;
          width: auto;
          line-height: 1.5;
          padding: 10px;
          font-size: 15px;
          border-radius: 30px;
          margin-top: 10px; } }

.p-custom {
  padding: 0 1px; }

.widget-parent {
  margin-top: 30px;
  border-radius: 18px;
  background-color: #f39316;
  transition: 0.5s; }
  .widget-parent:hover {
    background-color: #006644; }
  .widget-parent .thumb {
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    overflow: hidden;
    height: 220px; }
    .widget-parent .thumb img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .widget-parent .name {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px; }
    .widget-parent .name .widget-name {
      color: #fff; }
      .widget-parent .name .widget-name h4 {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 20px; }
    .widget-parent .name .widget-fb i {
      font-size: 22px;
      color: #fff;
      padding-right: 10px; }
      .widget-parent .name .widget-fb i:hover {
        color: #19bfc7; }
  .widget-parent .content {
    padding: 8px 0px; }
    .widget-parent .content p {
      font-size: 15px;
      color: #fff;
      padding: 10px 20px;
      font-style: italic; }

span.square {
  color: #fff;
  background: #006644;
  padding: 10px 20px;
  padding-top: 15px;
  clip-path: polygon(100% 0, 100% 100%, 50% 100%, 3% 100%, 0 17%);
  display: inline-block; }

.pb-40 {
  padding-bottom: 40px; }
  @media screen and (max-width: 425px) {
    .pb-40 {
      padding-bottom: 20px; } }

/*# sourceMappingURL=common.css.map */
