// Khai báo font
@font-face{
	font-family: SanBold;
	src:url('../fonts/OpenSans-Bold.ttf') format("ttf");
}
@font-face{
	font-family: Sans;
	src:url('../fonts/OpenSans-Regular.ttf') format("ttf");
}

@font-face{
	font-family: SF;
	src:url('../fonts/sf.woff') format("woff"),url('../fonts/sf.woff2') format("woff2"),url('../fonts/SF.otf');
}


$break-small: 320px;
$break-mobile: 425px;
$break-tablet: 768px;
$break-medium: 980px;
$break-large: 1200px;
$break-big: 1366px;
$max-tablet : 767.98px;
$font-title : SanBold;
$color-white : #fff;
$bg-footer : #4183d1;
$color-link : #4a90e2;
$color-title :#f39316;
$color-content: #006644;
$color-black : black;
$color-gray: #424242;
body{
	font-family: Sans, Helvetica, tahoma, sans-serif;
}
a{
	&:hover{
		text-decoration: none;
	}
}
.title-head{
	font: 32px $font-title;
}
.text-title{
	color:$color-title;
}
.text-link{
	color: $color-link;
}
.btn-custom{
	background:#4a90e2;
	color: #fff;	
}
.btn-common{
	transition: 0.5s;
	&:hover {
		background: $color-title;
		transform: scale(1.2);
	}
	font-size: 20px;
	@media screen and (max-width: $break-tablet){
		font-size: 13px;
	}
}
.btn-border{
	border:1px solid #4a90e2;
}
.btn-size{
	@media screen and (max-width: $break-mobile) {
		padding: 12px 15px;
	}
	padding: 12px 40px;
	text-transform: uppercase;
	border-radius: 29px;
}
.btn-more {
	font-size: 15px;
	padding: 15px 30px;
	border: none;
}
p.title-content {
	font-size: 20px;
	color: $color-white;
	line-height: 1.5;
	@media screen and (max-width: $break-tablet){
		font-size: 13px;
	}
}
p.content {
	font-size: 16px;
}
h3.title {
	@media screen and(max-width: $break-mobile) {
		font-size: 24px;
	}
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 600;
	color: $color-title;
}
h4.title {
	font-size: 21px;
	font-weight: 600;
}
h5.title {
	font-size: 17.65px;
	text-transform: uppercase;
	font-weight: 600;
}
h3.title-news {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 600;
	color: $color-content;
	padding-bottom: 20px;
}
h4.title-news {
	@media screen and (max-width: $break-tablet) {
		padding-top: 15px;
		font-size: 25px;
	}
	font-size: 35px;
	color: $color-content;
}
h5.title-news {
	font-size: 20px;
	color: $color-content;
}
p.content-news {
	font-size: 14px;
	margin-bottom: 5px;
}
p.date {
	font-size: 13px;
	margin-bottom: 5px;
}
p.italic {
	padding: 10px 0;
	font-size: 16px;
	font-weight: 600;
	font-style: italic;
}
p.content-news {
	font-size: 16px;
	text-align: justify;
	margin: 25px 0;
	line-height: 1.7rem;
}
.bg-fix{
    padding: 180px 0px 124px 0px;
    color: #fff;
    .banner-title{
		font:62px $font-title;
	}
	p{
		font-size: 18px;
	}
}
.p-70 {
	padding: 70px 0;
	@media screen and (max-width: $break-tablet) {
		padding: 20px 0;
	}
}

.bg-gray{
	background:#f9fafb;
}
.bg-blue{
	background:#0f6fdf;
}
.bg-logo-chim{
	background: url('../img/bg/logo_chim.png') no-repeat;
	background-size:30%;
    background-position:center 50px;
}
.banner{
	color: #fff;
	.banner-title{
		line-height: 1.2 !important;
		@media screen and (min-width: $break-small){
			font:36px $font-title;
		}
		@media screen and (min-width: $break-mobile){
			font:48px $font-title;
		}
		@media screen and (min-width: $break-tablet){
			font:52px $font-title;
		}
	}
	p{
		font-size: 18px;
	}
	@media screen and (min-width: $break-small){
		padding: 165px 0px 124px 0px;
	}
	@media screen and (min-width: $break-large){
		padding: 200px 0px 124px 0px;
	}
	
}
.article{
	background:#f9fafb;
	padding: 70px 0px 55px 0px;
	.card{
		height: 100%;
	}
	.card-title{
		font-size: 24px;
		overflow: hidden;
		a{
			color:$color-title;
		}
		@media screen and (min-width: $break-small){
			height: auto;
		}
		@media screen and (min-width: $break-tablet){
			height: 60px;
		}
	}
	.card-text{
		font-size: 14px;
		overflow: hidden;
		@media screen and (min-width: $break-small){
			height: auto;
		}
		@media screen and (min-width: $break-tablet){
			height: 90px;
		}
	}
	@media screen and (min-width: $break-small){
		div[class*='col-']{
			margin-bottom: 15px;
		}
	}
}
.slogan{
	padding: 102px 0px 85px 0px;
	.icon{
		img{
			padding: 0px 0px 51px 0px ;
			@media screen and (min-width: $break-small){
				width: 120px;
			}
			@media screen and (min-width: $break-mobile){
				width: 130px;
			}
		}
	}
	h4{
		padding: 0px 0px 20px 0px;
		font-weight: lighter !important;
		@media screen and (min-width: $break-mobile){
			font-size: 1.2rem;
			line-height: 1.5rem !important;
		}
		@media screen and (min-width: $break-tablet){
			font-size: 1.8rem;
			line-height: 2.8rem !important;
		}
		
	}
	.btn-talk{
		background:#4a90e2;
		border:1px solid #fff;
		color: #fff;
		font-size: 14px;
		padding: 14px 35px;
		transition: all .2s;
		i{
			padding: 0px 2px;
		}
		&:hover{
			background:#fff;
			border:1px solid #4a90e2;
			color:#4a90e2;
		}
	}
}
.awards{
	.owl-carousel{
		.owl-item{
			img{
				width: auto;
				margin:30px auto;
				@media screen and (min-width: $break-small){
					outline-offset: 0px;
					outline: 1px dashed transparent;
				}
				@media screen and (min-width: $break-mobile){
					outline-offset: 12px;
					outline: 1px dashed #e8e8e8;
				}
			}
		}
		.owl-nav{
			display: none;
		}
		.owl-dots{
			span {
			    width: 8px;
			    height: 8px;
			    margin: 5px 7px;
			    background: #D6D6D6;
			    display: block;
			    -webkit-backface-visibility: visible;
			    transition: opacity .2s ease;
			    border-radius: 0px;
			}
			.active span{
				width: 12px;
			    height: 12px;
			    background:#e8e8e8;
			}
			@media screen and (min-width: $break-small){
				margin-top: 30px !important;
			}
			@media screen and (min-width: $break-tablet){
				margin-top: 60px !important;
			}
			
		}
	}
}
.list-client{
	.list-team{
		margin-top: 30px;
		.list-item{
			margin-bottom: 30px;
		}
	}
	.text-link{
		margin: 89px 0px 81px 0px;
		transition: all .5s;
		padding: 12px 20px;
		&:hover{
			background:$color-link;
			color: #fff;
		}
		@media screen and (min-width: $break-small){
			margin: 50px 0px 10px 0px;
			padding: 12px 5px;
		}
		@media screen and (min-width: $break-mobile){
			margin: 50px 0px 10px 0px;
			padding: 12px 20px;
		}
		
	}
}
.relates{
	.relate-title{
		font-family: $font-title;
		font-size: 20px;
		a{
			color: $color-title;
		}
	}
	.relate-param{
		font-size: 14px;
		padding-top: 15px;
		color: #9b9b9b;
	}
	.relate-more{
		font-size: 14px;
		color:$color-link;
	}
	.relate-item{
		width: 100%;
		border: 1px solid #efefef;
		margin-bottom: 15px;
		.relate-img{
			width: 100%;
			height: 230px;
			img{
				width: 100%;
				height: 100%;
				object-fit:cover;
			}
		}
		.relate-content{	
			padding: 29px 27px 30px 27px;
			@media screen and (min-width: $break-small){
				padding: 29px 10px 30px 10px;
			}
			@media screen and (min-width: $break-tablet){
				padding: 20px 10px 5px 10px;
			}
			@media screen and (min-width: $break-medium){
				padding: 30px 15px 15px 15px;
			}
			@media screen and (min-width: $break-large){
				padding: 30px 15px 20px 15px;
			}
			
			p{
				margin-bottom: 0rem;
				@media screen and (min-width: $break-medium){
					margin-bottom: 1rem;
				}
			}
		}
	}
	.relate-list{
		border: 1px solid #efefef;
		margin-bottom: 32px;
		overflow: hidden;
		height: 225px;
		&_img{
			float: left;
			width: 36%;
			height: 225px;
			overflow: hidden;
			img{
				width: 100%;
  				height: 100%;
  				object-fit:cover; 
			}
			@media screen and (min-width: $break-small){
				float: none;
				width: 100%;
			}
			@media screen and (min-width: $break-tablet){
				float: left;
				height: 235px;
				width: 36%;
			}
			
		}
		&_content{
			// float: left;
			// width: 64%;
			
			@media screen and (min-width: $break-small){
				float: none;
				width: 100%;
				padding: 20px 10px;
			}
			@media screen and (min-width: $break-tablet){
				float: left;
				width: 64%;
				padding:10px;
				height: 230px;
			}
			@media screen and (min-width: $break-large){
				padding: 20px;
			}
			
			.relate-title{
				@media screen and (min-width: $break-tablet){
					font-size: 16px;
				}
				@media screen and (min-width: $break-large){
					font-size: 20px;
				}
				
			}
			.relate-param{
				font-size: 14px;
				padding-top: 15px;
				color: #9b9b9b;
				@media screen and (min-width: $break-tablet){
					padding-top: 0px;
				}
				@media screen and (min-width: $break-medium){
					padding-top: 15px;
				}

			}
			p{
				margin-bottom: 0rem;
				@media screen and (min-width: $break-large){
					margin-bottom: 1rem;
				}
			}
			
		}
		@media screen and (min-width: $break-small){
			height: auto;
			margin-bottom: 15px;
		}
		@media screen and (min-width: $break-tablet){
			height: 235px;
			margin-bottom: 32px;
		}
		@media screen and (min-width: $break-medium){
			height: 225px;
			margin-bottom: 23px;
		}
		
		
	}
}
.upper-first-text{
	&:first-letter{
		text-transform: uppercase;
		float: left;
		padding: 4px 8px 0 0;
		display: block;
		color: $color-title;
		font: 96px/64px sans-serif;
	}
}
.project-item{
	background:#fff;
	box-shadow:0px 0px 5px 1px #e1e1e1;
	width: 100%;
	margin-bottom: 50px;
	@media screen and (min-width: $break-small){
		height: auto;
	}
	@media screen and (min-width: $break-tablet){
		height: 300px;
	}
	@media screen and (min-width: $break-large){
		height: 360px;
	}
	.project-img{
		overflow: hidden;
		float: left;
		@media screen and (min-width: $break-small){
			float: none;
			width: 100%;
		}
		@media screen and (min-width: $break-tablet){
			float: left;
			width: 35%;
			height: 300px;
		}
		@media screen and (min-width: $break-large){
			height: 360px;
			width: 45%;
		}
		
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.project-content{
		padding: 22px;
		float: left;
		@media screen and (min-width: $break-small){
			float: none;
			width: 100%;
		}
		@media screen and (min-width: $break-tablet){
			width: 65%;
			float: left;
			height: 300px;
		}
		@media screen and (min-width: $break-large){
			height: 360px;
			width: 55%;
		}
		
		h3{
			font-size: 24px;
			font-family: $font-title;
			a{
				color:$color-title;
			}
			@media screen and (min-width: $break-small){
				margin-bottom: 20px;
			}
			@media screen and (min-width: $break-large){
				margin-bottom: 40px;
			}
		}
		p{
			font-size: 14px;
			color: #9b9b9b;
			height: 160px;
			@media screen and (min-width: $break-small){
				height: auto;
			}
		}
		.btn-link{
			font-size: 14px;
			&:hover{
				text-decoration: none;
			}
		}
	}
}
.project{
	.btn-custom{
		padding: 14px 40px;
		&:hover{
			background:#fff;
			border:1px solid $color-link;
			color: $color-link;
		}
	}
}
.overview{
	font-size: 18px;
	padding: 10px 60px;
	margin: 10px 0px 20px 0px;
	line-height: 1.6;
}
.tag{
	a{
		background:$color-link;
		color:#fff;
		font-size: 12px;
		padding: 5px 14px;
		border-radius:5px;
		display: inline-block;
		margin-bottom: 5px;
		&:hover{
			background:#2665af;
		}
	}
	@media screen and (min-width: $break-small){
		height: auto;
		margin-bottom: 10px;
	}
	@media screen and (min-width: $break-medium){
		height: 80px;
		margin-bottom: 0px;
	}
	
}

//style me
.p-top {
  margin-top: 70px;
}
.h3-title {
	font-weight: 600;
		@media screen and (min-width: $break-small){
			font-size: 23px;
		}
		@media screen and (min-width: $break-tablet){
			font-size: 30px;
		}
		@media screen and (min-width: $break-large){
			font-size: 45px;
		}
}
.p-content {
	color: $color-title;
	@media screen and (min-width: $break-small){
		font-size: 13px;
	}
	@media screen and (min-width: $break-large){
		font-size: 16px;
	}
}
p.content-top {
		font-family: $font-title;
		line-height: 1.5;
		color:#4A4A4A;
		margin-bottom: 0;
		@media screen and (min-width: $break-small){
			font-size: 18px;
		}
		@media screen and (min-width: $break-tablet){
			font-size: 20px;
		}

		@media screen and (min-width: $break-large){
			font-size: 24px;
		}
}
.item-help {
	margin-bottom: 40px;
	object-fit: cover;
	img {
		@media (min-width: $break-tablet) {
			width: 10%;
		}
		@media (max-width: $max-tablet) {
			width: 18%;
		}
	}
}
h5.title-small {
	font-family: $font-title;
	font-weight: 600;
	font-size: 21px;
	line-height: 1.4;
	color: #4A4A4A;
	@media (max-width: $break-medium) {

		font-size: 18px;
	}
}
.owl-theme .owl-nav.disabled+.owl-dots {
	@media screen and (max-width: $break-tablet) {
		margin-top: -25px;
	}
	margin-top: -50px;
	z-index: 1;
	position: relative;
}
.owl-theme .owl-dots .owl-dot span {
	@media screen and (max-width: $break-tablet) {
		width: 10px;
		height: 10px;
	}
	width: 18px;
	height: 18px;

}
.scholarship {
  margin-top: 20px;
  .thumb {
    height: 150px;
    width: 150px;
    overflow: hidden;
    object-position: right;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    text-align: center;
    margin: 0 auto;
    img {
      position: absolute;
    }
  }
  .info {
    border-right: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    h5 {
      color: $color-content;
      padding-top: 25px;
    }
    .ashford {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 30px;
      .img {
        position: relative;
        ::after {

        }
      }
    }
    .img:after {
      content: "";
      height: 60px;
      color: #d7d7d7;
      border: 1px solid;
      position: absolute;
      right: -25px;
    }
    .ashford-content {
      color: $color-title;
      text-align: left;
      p {
        font-size: 11px;
        margin-bottom: 5px;
        font-weight: 600;
        margin-top: 3px;
      }
      p.top {
        font-size: 24px;
        font-weight: 600;
      }
    }
    .totallity {
      margin-top: 30px;
      p {
        margin-bottom: 3px;
        color: #28292d;
      }
      p.hocbong {
        padding: 10px ;
        margin: 0px 20px;
        border-radius: 25px 0px;
        background-color: $color-title;
        font-weight: 600;
        color: $color-white;
      }

    }
  }
}
ul.list-title {
	li {
		display: flex;
		padding-top: 10px;
		align-items: baseline;
		i {
			color: $color-white;
			padding-right: 10px;
		}
		span {
			text-transform: uppercase;
			color: $color-white;
		}
	}
}
.contact {
	margin-top: 20px;
	@media screen and (max-width: $break-tablet) {
		text-align: center !important;
	}
	a {
		&:hover {
			span {
				background: $color-content;
				color: $color-white;
			}
		}
		position: relative;
		display: inline-block;
		img {
			@media screen and (max-width: $break-tablet) {
				position: inherit;
				left: 0;
				top: 0;
			}
			width: 75px;
			height: 75px;
			-o-object-fit: cover;
			object-fit: cover;
			border-radius: 50%;
			z-index: 2;
			position: absolute;
			top: -14px;
			left: -20px;
		}
		span {
			@media screen and (max-width: $break-tablet) {
				height: auto;
				width: auto;
				line-height: 1.5;
				padding: 10px;
				font-size: 15px;
				border-radius: 30px;
				margin-top: 10px;
			}
			display: block;
			width: max-content;
			height: 55px;
			background: #fff;
			text-align: center;
			font-size: 16px;
			color: #064;
			font-weight: 700;
			-webkit-box-shadow: 0 0 10px 3px #f4f4f4;
			box-shadow: 0 0 10px 3px #f4f4f4;
			line-height: 55px;
			border-top-right-radius: 30px;
			border-bottom-right-radius: 30px;
			padding: 0 30px;
			margin: 0 auto;
			-webkit-transition: all .3s;
			transition: all .3s;
			padding-left: 75px;
		}
	}
}
.p-custom {
  padding: 0 1px;
}
.widget-parent {
	margin-top: 30px;
	border-radius: 18px;
	background-color: $color-title;
	transition: 0.5s;
	&:hover {
		background-color: $color-content;
	}
	.thumb {
		border-top-left-radius: 18px;
		border-top-right-radius: 18px;
		overflow: hidden;
		height: 220px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.name {
		display: flex;
		justify-content: space-between;
		padding: 10px 20px;
		.widget-name {
			color: $color-white;
			h4 {
				font-weight: 600;
				text-transform: uppercase;
				font-size: 20px;
			}
		}
		.widget-fb {
			i {
				font-size: 22px;
				color: $color-white;
				padding-right: 10px;
				&:hover {
					color: #19bfc7;
				}
			}

		}

	}
	.content {
		padding: 8px 0px;
		p {
			font-size: 15px;
			color: $color-white;
			padding: 10px 20px;
			font-style: italic;
		}
	}

}
span.square {
	color: $color-white;
	background: $color-content;
	padding: 10px 20px;
	padding-top: 15px;
	clip-path: polygon(100% 0,100% 100%,50% 100%,3% 100%,0 17%);
	display: inline-block;
}
.pb-40 {
	padding-bottom: 40px;
	@media screen and(max-width: $break-mobile){
		padding-bottom: 20px;
	}
}

