@font-face {
  font-family: SanBold;
  src: url("../fonts/OpenSans-Bold.ttf") format("ttf"); }
@font-face {
  font-family: Sans;
  src: url("../fonts/OpenSans-Regular.ttf") format("ttf"); }
@font-face {
  font-family: SF;
  src: url("../fonts/sf.woff") format("woff"), url("../fonts/sf.woff2") format("woff2"), url("../fonts/SF.otf"); }
body {
  font-family: Sans, Helvetica, tahoma, sans-serif; }

a:hover {
  text-decoration: none; }

.title-head {
  font: 32px SanBold; }

.text-title {
  color: #f39316; }

.text-link {
  color: #4a90e2; }

.btn-custom {
  background: #4a90e2;
  color: #fff; }

.btn-common {
  transition: 0.5s;
  font-size: 20px; }
  .btn-common:hover {
    background: #f39316;
    transform: scale(1.2); }
  @media screen and (max-width: 768px) {
    .btn-common {
      font-size: 13px; } }

.btn-border {
  border: 1px solid #4a90e2; }

.btn-size {
  padding: 12px 40px;
  text-transform: uppercase;
  border-radius: 29px; }
  @media screen and (max-width: 425px) {
    .btn-size {
      padding: 12px 15px; } }

.btn-more {
  font-size: 15px;
  padding: 15px 30px;
  border: none; }

p.title-content {
  font-size: 20px;
  color: #fff;
  line-height: 1.5; }
  @media screen and (max-width: 768px) {
    p.title-content {
      font-size: 13px; } }

p.content {
  font-size: 16px; }

h3.title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
  color: #f39316; }
  @media screen and (max-width: 425px) {
    h3.title {
      font-size: 24px; } }

h4.title {
  font-size: 21px;
  font-weight: 600; }

h5.title {
  font-size: 17.65px;
  text-transform: uppercase;
  font-weight: 600; }

h3.title-news {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  color: #006644;
  padding-bottom: 20px; }

h4.title-news {
  font-size: 35px;
  color: #006644; }
  @media screen and (max-width: 768px) {
    h4.title-news {
      padding-top: 15px;
      font-size: 25px; } }

h5.title-news {
  font-size: 20px;
  color: #006644; }

p.content-news {
  font-size: 14px;
  margin-bottom: 5px; }

p.date {
  font-size: 13px;
  margin-bottom: 5px; }

p.italic {
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
  font-style: italic; }

p.content-news {
  font-size: 16px;
  text-align: justify;
  margin: 25px 0;
  line-height: 1.7rem; }

.bg-fix {
  padding: 180px 0px 124px 0px;
  color: #fff; }
  .bg-fix .banner-title {
    font: 62px SanBold; }
  .bg-fix p {
    font-size: 18px; }

.p-70 {
  padding: 70px 0; }
  @media screen and (max-width: 768px) {
    .p-70 {
      padding: 20px 0; } }

.bg-gray {
  background: #f9fafb; }

.bg-blue {
  background: #0f6fdf; }

.bg-logo-chim {
  background: url("../img/bg/logo_chim.png") no-repeat;
  background-size: 30%;
  background-position: center 50px; }

.banner {
  color: #fff; }
  .banner .banner-title {
    line-height: 1.2 !important; }
    @media screen and (min-width: 320px) {
      .banner .banner-title {
        font: 36px SanBold; } }
    @media screen and (min-width: 425px) {
      .banner .banner-title {
        font: 48px SanBold; } }
    @media screen and (min-width: 768px) {
      .banner .banner-title {
        font: 52px SanBold; } }
  .banner p {
    font-size: 18px; }
  @media screen and (min-width: 320px) {
    .banner {
      padding: 165px 0px 124px 0px; } }
  @media screen and (min-width: 1200px) {
    .banner {
      padding: 200px 0px 124px 0px; } }

.article {
  background: #f9fafb;
  padding: 70px 0px 55px 0px; }
  .article .card {
    height: 100%; }
  .article .card-title {
    font-size: 24px;
    overflow: hidden; }
    .article .card-title a {
      color: #f39316; }
    @media screen and (min-width: 320px) {
      .article .card-title {
        height: auto; } }
    @media screen and (min-width: 768px) {
      .article .card-title {
        height: 60px; } }
  .article .card-text {
    font-size: 14px;
    overflow: hidden; }
    @media screen and (min-width: 320px) {
      .article .card-text {
        height: auto; } }
    @media screen and (min-width: 768px) {
      .article .card-text {
        height: 90px; } }
  @media screen and (min-width: 320px) {
    .article div[class*='col-'] {
      margin-bottom: 15px; } }

.slogan {
  padding: 102px 0px 85px 0px; }
  .slogan .icon img {
    padding: 0px 0px 51px 0px; }
    @media screen and (min-width: 320px) {
      .slogan .icon img {
        width: 120px; } }
    @media screen and (min-width: 425px) {
      .slogan .icon img {
        width: 130px; } }
  .slogan h4 {
    padding: 0px 0px 20px 0px;
    font-weight: lighter !important; }
    @media screen and (min-width: 425px) {
      .slogan h4 {
        font-size: 1.2rem;
        line-height: 1.5rem !important; } }
    @media screen and (min-width: 768px) {
      .slogan h4 {
        font-size: 1.8rem;
        line-height: 2.8rem !important; } }
  .slogan .btn-talk {
    background: #4a90e2;
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    padding: 14px 35px;
    transition: all .2s; }
    .slogan .btn-talk i {
      padding: 0px 2px; }
    .slogan .btn-talk:hover {
      background: #fff;
      border: 1px solid #4a90e2;
      color: #4a90e2; }

.awards .owl-carousel .owl-item img {
  width: auto;
  margin: 30px auto; }
  @media screen and (min-width: 320px) {
    .awards .owl-carousel .owl-item img {
      outline-offset: 0px;
      outline: 1px dashed transparent; } }
  @media screen and (min-width: 425px) {
    .awards .owl-carousel .owl-item img {
      outline-offset: 12px;
      outline: 1px dashed #e8e8e8; } }
.awards .owl-carousel .owl-nav {
  display: none; }
.awards .owl-carousel .owl-dots span {
  width: 8px;
  height: 8px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 0px; }
.awards .owl-carousel .owl-dots .active span {
  width: 12px;
  height: 12px;
  background: #e8e8e8; }
@media screen and (min-width: 320px) {
  .awards .owl-carousel .owl-dots {
    margin-top: 30px !important; } }
@media screen and (min-width: 768px) {
  .awards .owl-carousel .owl-dots {
    margin-top: 60px !important; } }

.list-client .list-team {
  margin-top: 30px; }
  .list-client .list-team .list-item {
    margin-bottom: 30px; }
.list-client .text-link {
  margin: 89px 0px 81px 0px;
  transition: all .5s;
  padding: 12px 20px; }
  .list-client .text-link:hover {
    background: #4a90e2;
    color: #fff; }
  @media screen and (min-width: 320px) {
    .list-client .text-link {
      margin: 50px 0px 10px 0px;
      padding: 12px 5px; } }
  @media screen and (min-width: 425px) {
    .list-client .text-link {
      margin: 50px 0px 10px 0px;
      padding: 12px 20px; } }

.relates .relate-title {
  font-family: SanBold;
  font-size: 20px; }
  .relates .relate-title a {
    color: #f39316; }
.relates .relate-param {
  font-size: 14px;
  padding-top: 15px;
  color: #9b9b9b; }
.relates .relate-more {
  font-size: 14px;
  color: #4a90e2; }
.relates .relate-item {
  width: 100%;
  border: 1px solid #efefef;
  margin-bottom: 15px; }
  .relates .relate-item .relate-img {
    width: 100%;
    height: 230px; }
    .relates .relate-item .relate-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .relates .relate-item .relate-content {
    padding: 29px 27px 30px 27px; }
    @media screen and (min-width: 320px) {
      .relates .relate-item .relate-content {
        padding: 29px 10px 30px 10px; } }
    @media screen and (min-width: 768px) {
      .relates .relate-item .relate-content {
        padding: 20px 10px 5px 10px; } }
    @media screen and (min-width: 980px) {
      .relates .relate-item .relate-content {
        padding: 30px 15px 15px 15px; } }
    @media screen and (min-width: 1200px) {
      .relates .relate-item .relate-content {
        padding: 30px 15px 20px 15px; } }
    .relates .relate-item .relate-content p {
      margin-bottom: 0rem; }
      @media screen and (min-width: 980px) {
        .relates .relate-item .relate-content p {
          margin-bottom: 1rem; } }
.relates .relate-list {
  border: 1px solid #efefef;
  margin-bottom: 32px;
  overflow: hidden;
  height: 225px; }
  .relates .relate-list_img {
    float: left;
    width: 36%;
    height: 225px;
    overflow: hidden; }
    .relates .relate-list_img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    @media screen and (min-width: 320px) {
      .relates .relate-list_img {
        float: none;
        width: 100%; } }
    @media screen and (min-width: 768px) {
      .relates .relate-list_img {
        float: left;
        height: 235px;
        width: 36%; } }
  @media screen and (min-width: 320px) {
    .relates .relate-list_content {
      float: none;
      width: 100%;
      padding: 20px 10px; } }
  @media screen and (min-width: 768px) {
    .relates .relate-list_content {
      float: left;
      width: 64%;
      padding: 10px;
      height: 230px; } }
  @media screen and (min-width: 1200px) {
    .relates .relate-list_content {
      padding: 20px; } }
  @media screen and (min-width: 768px) {
    .relates .relate-list_content .relate-title {
      font-size: 16px; } }
  @media screen and (min-width: 1200px) {
    .relates .relate-list_content .relate-title {
      font-size: 20px; } }
  .relates .relate-list_content .relate-param {
    font-size: 14px;
    padding-top: 15px;
    color: #9b9b9b; }
    @media screen and (min-width: 768px) {
      .relates .relate-list_content .relate-param {
        padding-top: 0px; } }
    @media screen and (min-width: 980px) {
      .relates .relate-list_content .relate-param {
        padding-top: 15px; } }
  .relates .relate-list_content p {
    margin-bottom: 0rem; }
    @media screen and (min-width: 1200px) {
      .relates .relate-list_content p {
        margin-bottom: 1rem; } }
  @media screen and (min-width: 320px) {
    .relates .relate-list {
      height: auto;
      margin-bottom: 15px; } }
  @media screen and (min-width: 768px) {
    .relates .relate-list {
      height: 235px;
      margin-bottom: 32px; } }
  @media screen and (min-width: 980px) {
    .relates .relate-list {
      height: 225px;
      margin-bottom: 23px; } }

.upper-first-text:first-letter {
  text-transform: uppercase;
  float: left;
  padding: 4px 8px 0 0;
  display: block;
  color: #f39316;
  font: 96px/64px sans-serif; }

.project-item {
  background: #fff;
  box-shadow: 0px 0px 5px 1px #e1e1e1;
  width: 100%;
  margin-bottom: 50px; }
  @media screen and (min-width: 320px) {
    .project-item {
      height: auto; } }
  @media screen and (min-width: 768px) {
    .project-item {
      height: 300px; } }
  @media screen and (min-width: 1200px) {
    .project-item {
      height: 360px; } }
  .project-item .project-img {
    overflow: hidden;
    float: left; }
    @media screen and (min-width: 320px) {
      .project-item .project-img {
        float: none;
        width: 100%; } }
    @media screen and (min-width: 768px) {
      .project-item .project-img {
        float: left;
        width: 35%;
        height: 300px; } }
    @media screen and (min-width: 1200px) {
      .project-item .project-img {
        height: 360px;
        width: 45%; } }
    .project-item .project-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .project-item .project-content {
    padding: 22px;
    float: left; }
    @media screen and (min-width: 320px) {
      .project-item .project-content {
        float: none;
        width: 100%; } }
    @media screen and (min-width: 768px) {
      .project-item .project-content {
        width: 65%;
        float: left;
        height: 300px; } }
    @media screen and (min-width: 1200px) {
      .project-item .project-content {
        height: 360px;
        width: 55%; } }
    .project-item .project-content h3 {
      font-size: 24px;
      font-family: SanBold; }
      .project-item .project-content h3 a {
        color: #f39316; }
      @media screen and (min-width: 320px) {
        .project-item .project-content h3 {
          margin-bottom: 20px; } }
      @media screen and (min-width: 1200px) {
        .project-item .project-content h3 {
          margin-bottom: 40px; } }
    .project-item .project-content p {
      font-size: 14px;
      color: #9b9b9b;
      height: 160px; }
      @media screen and (min-width: 320px) {
        .project-item .project-content p {
          height: auto; } }
    .project-item .project-content .btn-link {
      font-size: 14px; }
      .project-item .project-content .btn-link:hover {
        text-decoration: none; }

.project .btn-custom {
  padding: 14px 40px; }
  .project .btn-custom:hover {
    background: #fff;
    border: 1px solid #4a90e2;
    color: #4a90e2; }

.overview {
  font-size: 18px;
  padding: 10px 60px;
  margin: 10px 0px 20px 0px;
  line-height: 1.6; }

.tag a {
  background: #4a90e2;
  color: #fff;
  font-size: 12px;
  padding: 5px 14px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 5px; }
  .tag a:hover {
    background: #2665af; }
@media screen and (min-width: 320px) {
  .tag {
    height: auto;
    margin-bottom: 10px; } }
@media screen and (min-width: 980px) {
  .tag {
    height: 80px;
    margin-bottom: 0px; } }

.p-top {
  margin-top: 70px; }

.h3-title {
  font-weight: 600; }
  @media screen and (min-width: 320px) {
    .h3-title {
      font-size: 23px; } }
  @media screen and (min-width: 768px) {
    .h3-title {
      font-size: 30px; } }
  @media screen and (min-width: 1200px) {
    .h3-title {
      font-size: 45px; } }

.p-content {
  color: #f39316; }
  @media screen and (min-width: 320px) {
    .p-content {
      font-size: 13px; } }
  @media screen and (min-width: 1200px) {
    .p-content {
      font-size: 16px; } }

p.content-top {
  font-family: SanBold;
  line-height: 1.5;
  color: #4A4A4A;
  margin-bottom: 0; }
  @media screen and (min-width: 320px) {
    p.content-top {
      font-size: 18px; } }
  @media screen and (min-width: 768px) {
    p.content-top {
      font-size: 20px; } }
  @media screen and (min-width: 1200px) {
    p.content-top {
      font-size: 24px; } }

.item-help {
  margin-bottom: 40px;
  object-fit: cover; }
  @media (min-width: 768px) {
    .item-help img {
      width: 10%; } }
  @media (max-width: 767.98px) {
    .item-help img {
      width: 18%; } }

h5.title-small {
  font-family: SanBold;
  font-weight: 600;
  font-size: 21px;
  line-height: 1.4;
  color: #4A4A4A; }
  @media (max-width: 980px) {
    h5.title-small {
      font-size: 18px; } }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: -50px;
  z-index: 1;
  position: relative; }
  @media screen and (max-width: 768px) {
    .owl-theme .owl-nav.disabled + .owl-dots {
      margin-top: -25px; } }

.owl-theme .owl-dots .owl-dot span {
  width: 18px;
  height: 18px; }
  @media screen and (max-width: 768px) {
    .owl-theme .owl-dots .owl-dot span {
      width: 10px;
      height: 10px; } }

.scholarship {
  margin-top: 20px; }
  .scholarship .thumb {
    height: 150px;
    width: 150px;
    overflow: hidden;
    object-position: right;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    text-align: center;
    margin: 0 auto; }
    .scholarship .thumb img {
      position: absolute; }
  .scholarship .info {
    border-right: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7; }
    .scholarship .info h5 {
      color: #006644;
      padding-top: 25px; }
    .scholarship .info .ashford {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 30px; }
      .scholarship .info .ashford .img {
        position: relative; }
    .scholarship .info .img:after {
      content: "";
      height: 60px;
      color: #d7d7d7;
      border: 1px solid;
      position: absolute;
      right: -25px; }
    .scholarship .info .ashford-content {
      color: #f39316;
      text-align: left; }
      .scholarship .info .ashford-content p {
        font-size: 11px;
        margin-bottom: 5px;
        font-weight: 600;
        margin-top: 3px; }
      .scholarship .info .ashford-content p.top {
        font-size: 24px;
        font-weight: 600; }
    .scholarship .info .totallity {
      margin-top: 30px; }
      .scholarship .info .totallity p {
        margin-bottom: 3px;
        color: #28292d; }
      .scholarship .info .totallity p.hocbong {
        padding: 10px;
        margin: 0px 20px;
        border-radius: 25px 0px;
        background-color: #f39316;
        font-weight: 600;
        color: #fff; }

ul.list-title li {
  display: flex;
  padding-top: 10px;
  align-items: baseline; }
  ul.list-title li i {
    color: #fff;
    padding-right: 10px; }
  ul.list-title li span {
    text-transform: uppercase;
    color: #fff; }

.contact {
  margin-top: 20px; }
  @media screen and (max-width: 768px) {
    .contact {
      text-align: center !important; } }
  .contact a {
    position: relative;
    display: inline-block; }
    .contact a:hover span {
      background: #006644;
      color: #fff; }
    .contact a img {
      width: 75px;
      height: 75px;
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      top: -14px;
      left: -20px; }
      @media screen and (max-width: 768px) {
        .contact a img {
          position: inherit;
          left: 0;
          top: 0; } }
    .contact a span {
      display: block;
      width: max-content;
      height: 55px;
      background: #fff;
      text-align: center;
      font-size: 16px;
      color: #064;
      font-weight: 700;
      -webkit-box-shadow: 0 0 10px 3px #f4f4f4;
      box-shadow: 0 0 10px 3px #f4f4f4;
      line-height: 55px;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      padding: 0 30px;
      margin: 0 auto;
      -webkit-transition: all .3s;
      transition: all .3s;
      padding-left: 75px; }
      @media screen and (max-width: 768px) {
        .contact a span {
          height: auto;
          width: auto;
          line-height: 1.5;
          padding: 10px;
          font-size: 15px;
          border-radius: 30px;
          margin-top: 10px; } }

.p-custom {
  padding: 0 1px; }

.widget-parent {
  margin-top: 30px;
  border-radius: 18px;
  background-color: #f39316;
  transition: 0.5s; }
  .widget-parent:hover {
    background-color: #006644; }
  .widget-parent .thumb {
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    overflow: hidden;
    height: 220px; }
    .widget-parent .thumb img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .widget-parent .name {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px; }
    .widget-parent .name .widget-name {
      color: #fff; }
      .widget-parent .name .widget-name h4 {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 20px; }
    .widget-parent .name .widget-fb i {
      font-size: 22px;
      color: #fff;
      padding-right: 10px; }
      .widget-parent .name .widget-fb i:hover {
        color: #19bfc7; }
  .widget-parent .content {
    padding: 8px 0px; }
    .widget-parent .content p {
      font-size: 15px;
      color: #fff;
      padding: 10px 20px;
      font-style: italic; }

span.square {
  color: #fff;
  background: #006644;
  padding: 10px 20px;
  padding-top: 15px;
  clip-path: polygon(100% 0, 100% 100%, 50% 100%, 3% 100%, 0 17%);
  display: inline-block; }

.pb-40 {
  padding-bottom: 40px; }
  @media screen and (max-width: 425px) {
    .pb-40 {
      padding-bottom: 20px; } }

body {
  counter-reset: sec-counter; }

header {
  background-color: #fff; }
  header .top-menu {
    display: flex;
    justify-content: space-between; }
    header .top-menu .logo {
      object-fit: cover;
      margin: 16px 10px; }
      header .top-menu .logo img {
        width: 80%; }
    @media screen and (max-width: 980px) {
      header .top-menu .nav {
        display: none; } }
    header .top-menu .nav ul {
      margin-bottom: 0; }
      header .top-menu .nav ul li {
        float: left;
        padding: 40px 12px;
        font-size: 14px;
        position: relative;
        height: 100%; }
        @media screen and (max-width: 1024px) {
          header .top-menu .nav ul li {
            font-size: 11px; } }
        header .top-menu .nav ul li:hover .sub-menu {
          visibility: visible;
          opacity: 1; }
        header .top-menu .nav ul li a {
          color: #006644;
          font-weight: 600; }
          header .top-menu .nav ul li a:hover {
            color: #f39316; }
        header .top-menu .nav ul li .sub-menu {
          min-width: 300px;
          position: absolute;
          z-index: 999;
          top: 100%;
          background: aliceblue;
          right: 12px;
          visibility: hidden;
          opacity: 0;
          transition: .5s;
          padding: 40px 36px; }
          header .top-menu .nav ul li .sub-menu h2 {
            font-size: 42px;
            color: #006644;
            font-weight: 600;
            text-transform: inherit !important; }
          header .top-menu .nav ul li .sub-menu p {
            font-size: 16px;
            font-style: italic; }
          header .top-menu .nav ul li .sub-menu ul li {
            position: inherit;
            display: block;
            width: 100%;
            padding: 10px 0;
            color: #424242;
            font-size: 16px;
            border-bottom: 1px solid lightgray; }
          header .top-menu .nav ul li .sub-menu ul li:last-child {
            border-bottom: none; }
        header .top-menu .nav ul li i#search {
          padding: 15px;
          background-color: #006644;
          border-radius: 50%;
          font-size: 18px;
          margin-top: -13px;
          color: #fff;
          cursor: pointer; }

.slider .img {
  padding-top: 143px; }
  @media screen and (max-width: 980px) {
    .slider .img {
      padding-top: 70px; } }
  @media screen and (max-width: 425px) {
    .slider .img {
      padding-top: 30px;
      padding-bottom: 20px; } }
  .slider .img .title h3 {
    font-size: 51px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase; }
    @media screen and (max-width: 980px) {
      .slider .img .title h3 {
        font-size: 30px; } }
    @media screen and (max-width: 768px) {
      .slider .img .title h3 {
        font-size: 22px; } }
    @media screen and (max-width: 425px) {
      .slider .img .title h3 {
        font-size: 14px; } }
  .slider .img .title button.more {
    text-transform: uppercase;
    color: #fff;
    background-color: #f39316;
    border-radius: 29px;
    border: none;
    margin-top: 20px; }
    @media screen and (max-width: 768px) {
      .slider .img .title button.more {
        margin-top: 0; } }

.introduce {
  margin-top: 70px; }
  @media screen and (max-width: 768px) {
    .introduce {
      margin-top: 20px; } }
  .introduce h3 {
    padding-bottom: 44px; }
  .introduce .icon {
    object-fit: cover;
    min-height: 135px; }
  .introduce button {
    color: #fff;
    background-color: #006644;
    border: none;
    margin-top: 55px; }
  .introduce .tower-left {
    object-fit: cover; }
    .introduce .tower-left img {
      width: 100%; }
  .introduce .tower-right {
    object-fit: cover;
    position: relative; }
    .introduce .tower-right img {
      width: 100%;
      position: absolute;
      right: 0; }

.advantages p {
  color: #fff;
  padding-top: 20px; }

.course {
  background-color: #f5f5f5; }
  .course .strong {
    margin-bottom: 30px;
    font-size: 20px; }
  .course .widget {
    background-color: #fff;
    border-radius: 17px;
    padding-bottom: 20px;
    margin-top: 20px;
    height: 385px;
    transition: 0.75s; }
    .course .widget:hover {
      background-color: #006644; }
      .course .widget:hover img {
        transform: scale(1.3); }
      .course .widget:hover .content h4 a {
        color: #fff; }
      .course .widget:hover .content i.fa-plus-circle {
        display: block;
        color: #f39316; }
    .course .widget .thumb {
      object-fit: cover;
      overflow: hidden;
      height: 167px;
      border-top-left-radius: 17px;
      border-top-right-radius: 17px; }
      .course .widget .thumb img {
        width: 100%;
        height: 100%;
        transition: all 1s; }
    .course .widget .content {
      transition: all 0.75s; }
      .course .widget .content h5 {
        font-size: 16px;
        text-transform: uppercase;
        padding-top: 15px;
        color: #f39316;
        font-weight: 600; }
      .course .widget .content h4 a {
        font-size: 21px;
        color: #006644;
        text-transform: uppercase;
        font-weight: 600;
        padding-top: 10px; }
      .course .widget .content p {
        font-size: 14px;
        color: #a2a2a2;
        padding: 20px 20px 0px 20px; }
      .course .widget .content i.fa-plus-circle {
        display: none;
        transition: all 0.75s; }
      .course .widget .content button {
        border: none;
        font-size: 14px;
        background-color: #006644;
        color: #fff; }

.achievements {
  padding: 70px; }
  @media screen and (max-width: 768px) {
    .achievements {
      padding: 20px; } }
  .achievements h4 {
    font-size: 17px;
    color: #fff;
    padding-bottom: 30px;
    padding-top: 15px; }
    @media screen and (max-width: 425px) {
      .achievements h4 {
        font-size: 14px; } }
  .achievements .widget .thumb {
    object-fit: cover;
    overflow: hidden;
    border-radius: 9px;
    max-width: 260px;
    max-height: 165px; }
    @media screen and (max-width: 767.98px) {
      .achievements .widget .thumb {
        margin: 0 auto; }
        .achievements .widget .thumb .title {
          text-align: center !important; } }
  .achievements .widget .title {
    text-align: left; }
    @media screen and (max-width: 768px) {
      .achievements .widget .title {
        text-align: center; } }
    .achievements .widget .title h5.title {
      color: #fff;
      padding-top: 17px;
      font-weight: 600; }
    .achievements .widget .title p {
      color: #fff; }

.achievement {
  padding: 70px; }
  @media screen and (max-width: 768px) {
    .achievement {
      padding: 20px; } }
  .achievement .widget {
    transition: 0.75s;
    margin-top: 20px;
    background-color: #f39316;
    border-radius: 10px;
    padding: 25px; }
    .achievement .widget:hover {
      background-color: #006644; }
      .achievement .widget:hover .widget-content p.content {
        color: #f39316; }
      .achievement .widget:hover .widget-content button {
        background-color: #f39316; }
    .achievement .widget .thumb {
      overflow: hidden;
      max-width: 252px;
      max-height: 222px; }
    .achievement .widget .widget-content {
      padding-top: 10px; }
      .achievement .widget .widget-content p.content {
        color: #006644;
        margin-bottom: 5px; }
      .achievement .widget .widget-content h4.title {
        color: #fff; }
      .achievement .widget .widget-content p {
        color: #fff; }
      .achievement .widget .widget-content button {
        background-color: #006644;
        color: #fff;
        border-radius: 28px; }
  .achievement button {
    background-color: #006644;
    color: #fff;
    border-radius: 30px; }
    .achievement button:hover {
      background-color: #29ad81;
      transition: 0.3s; }

.opinion h3 {
  color: #006644;
  font-weight: 600; }
.opinion p {
  padding-right: 30px; }
.opinion #opinion-widget .owl-dots {
  position: absolute !important;
  left: -53%;
  top: 54%; }
  @media screen and (max-width: 768px) {
    .opinion #opinion-widget .owl-dots {
      position: relative !important;
      top: 0 !important;
      left: 0 !important; } }
  .opinion #opinion-widget .owl-dots .active span {
    background: #006644 !important; }

.banner-top-achievements, .banner-top-basic, .banner-top-target, .banner-top-share {
  position: relative; }
  .banner-top-achievements .img-banner img, .banner-top-basic .img-banner img, .banner-top-target .img-banner img, .banner-top-share .img-banner img {
    height: 480px;
    object-fit: cover; }
    @media screen and (max-width: 1366px) {
      .banner-top-achievements .img-banner img, .banner-top-basic .img-banner img, .banner-top-target .img-banner img, .banner-top-share .img-banner img {
        height: 400px; } }
    @media screen and (max-width: 980px) {
      .banner-top-achievements .img-banner img, .banner-top-basic .img-banner img, .banner-top-target .img-banner img, .banner-top-share .img-banner img {
        height: 300px; } }
  .banner-top-achievements .img-banner:before, .banner-top-basic .img-banner:before, .banner-top-target .img-banner:before, .banner-top-share .img-banner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 54%;
    height: 100%;
    background: url("../img/relic/banner/background.png") no-repeat top right;
    background-size: cover; }
  .banner-top-achievements .title-top, .banner-top-basic .title-top, .banner-top-target .title-top, .banner-top-share .title-top {
    position: absolute;
    top: 0;
    left: 0; }
    .banner-top-achievements .title-top .text, .banner-top-basic .title-top .text, .banner-top-target .title-top .text, .banner-top-share .title-top .text {
      margin-top: 115px;
      max-width: 500px; }
      @media screen and (max-width: 1366px) {
        .banner-top-achievements .title-top .text, .banner-top-basic .title-top .text, .banner-top-target .title-top .text, .banner-top-share .title-top .text {
          max-width: 384px; } }
      @media screen and (max-width: 980px) {
        .banner-top-achievements .title-top .text, .banner-top-basic .title-top .text, .banner-top-target .title-top .text, .banner-top-share .title-top .text {
          max-width: 280px;
          margin-top: 50px; } }
      .banner-top-achievements .title-top .text h1, .banner-top-basic .title-top .text h1, .banner-top-target .title-top .text h1, .banner-top-share .title-top .text h1 {
        font-size: 46px;
        color: #f39316;
        font-weight: 600; }
        @media screen and (max-width: 1366px) {
          .banner-top-achievements .title-top .text h1, .banner-top-basic .title-top .text h1, .banner-top-target .title-top .text h1, .banner-top-share .title-top .text h1 {
            font-size: 33px; } }
        @media screen and (max-width: 980px) {
          .banner-top-achievements .title-top .text h1, .banner-top-basic .title-top .text h1, .banner-top-target .title-top .text h1, .banner-top-share .title-top .text h1 {
            font-size: 27px; } }
        .banner-top-achievements .title-top .text h1 span, .banner-top-basic .title-top .text h1 span, .banner-top-target .title-top .text h1 span, .banner-top-share .title-top .text h1 span {
          display: inline-block;
          color: #fff;
          padding: 10px 20px;
          position: relative;
          background: #064;
          padding-top: 15px;
          border-radius: 10px;
          -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 100%, 3% 100%, 0 17%);
          clip-path: polygon(100% 0, 100% 100%, 50% 100%, 3% 100%, 0 17%); }
          @media screen and (max-width: 980px) {
            .banner-top-achievements .title-top .text h1 span, .banner-top-basic .title-top .text h1 span, .banner-top-target .title-top .text h1 span, .banner-top-share .title-top .text h1 span {
              padding: 5px 13px; } }
      .banner-top-achievements .title-top .text p, .banner-top-basic .title-top .text p, .banner-top-target .title-top .text p, .banner-top-share .title-top .text p {
        margin-top: 30px; }

.student .widget {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px; }
  .student .widget .avatar {
    flex: 0 0 40%;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 25px 0;
    background: #006644; }
    @media screen and (max-width: 1200px) {
      .student .widget .avatar {
        flex: 0 0 100%;
        border-radius: 10px; } }
    .student .widget .avatar h3 {
      font-size: 24px;
      color: #fff;
      font-weight: 600;
      padding-top: 10px; }
    .student .widget .avatar .logo i {
      color: #fff;
      font-size: 20px; }
    .student .widget .avatar .logo i:nth-child(1) {
      padding-right: 10px; }
    .student .widget .avatar .img-info img {
      width: 135px;
      height: 135px;
      border-radius: 50%;
      -o-object-fit: cover;
      object-fit: cover; }
  .student .widget .content {
    flex: 0 0 60%;
    background: #f4f4f4;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; }
    @media screen and (max-width: 1200px) {
      .student .widget .content {
        flex: 0 0 100%;
        border-radius: 10px; } }
    .student .widget .content .list {
      padding-bottom: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 30px; }
      .student .widget .content .list li {
        padding-top: 10px;
        display: flex;
        flex-flow: column;
        flex: 0 0 33.33%;
        align-items: center;
        border-right: 1px solid #CCCCCC; }
        .student .widget .content .list li .text {
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
          color: #404040;
          padding-bottom: 10px; }
        .student .widget .content .list li .number {
          font-size: 25px;
          font-weight: 700;
          color: #098648; }
      .student .widget .content .list li:last-child {
        border-right: none; }
    .student .widget .content .exam {
      border-radius: 15px 0;
      background: #f39316;
      font-size: 18px;
      font-weight: 600;
      color: #fff;
      margin: 0 30px;
      padding-top: 2px; }
    .student .widget .content .ashford {
      padding-bottom: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-top: 30px; }
      .student .widget .content .ashford .img {
        position: relative; }
      .student .widget .content .ashford .img:after {
        content: "";
        height: 60px;
        color: #d7d7d7;
        border: 1px solid;
        position: absolute;
        right: -25px; }
      .student .widget .content .ashford .ashford-content {
        color: #f39316;
        text-align: left; }
        .student .widget .content .ashford .ashford-content p {
          font-size: 18px;
          margin-bottom: 5px;
          margin-top: 3px; }
        .student .widget .content .ashford .ashford-content p.top {
          font-size: 18px;
          font-weight: 600; }

.apply-achiements {
  position: relative;
  z-index: 2;
  margin-top: -150px;
  padding-bottom: 55px; }
  .apply-achiements .widget-apply {
    margin-top: 40px;
    margin-bottom: 20px; }
    .apply-achiements .widget-apply .title-apply {
      margin-bottom: 25px;
      position: relative; }
      .apply-achiements .widget-apply .title-apply h2 {
        width: 270px;
        background: #006644;
        border-radius: 30px;
        height: 58px;
        text-align: center;
        line-height: 58px;
        font-size: 26px;
        color: #fff;
        font-weight: 700;
        position: relative;
        z-index: 2;
        text-transform: uppercase; }
    .apply-achiements .widget-apply .list-apply {
      background: #fff;
      border-radius: 15px; }
  .apply-achiements .contact-apply {
    display: none;
    margin-bottom: 25px;
    position: relative;
    margin-top: 40px; }
    .apply-achiements .contact-apply a {
      position: relative;
      display: inline-block; }
      .apply-achiements .contact-apply a img {
        width: 75px;
        height: 75px;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        top: -19px;
        left: -20px; }
      .apply-achiements .contact-apply a span {
        display: block;
        width: max-content;
        height: 55px;
        background: #fff;
        text-align: center;
        font-size: 16px;
        color: #064;
        font-weight: 700;
        -webkit-box-shadow: 0 0 10px 3px #f4f4f4;
        box-shadow: 0 0 10px 3px #f4f4f4;
        line-height: 55px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        padding: 0 30px;
        margin: 0 auto;
        -webkit-transition: all .3s;
        transition: all .3s;
        padding-left: 75px; }

.list-schooll {
  background: url("../img/achievements-student/banner/background.jpg") no-repeat;
  background-size: cover;
  padding: 70px 0; }
  .list-schooll h3 span {
    color: #006644; }
  .list-schooll .widget-list-schooll {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px; }
    .list-schooll .widget-list-schooll .box {
      flex: 0 0 16.6666666667%;
      max-width: 100%;
      padding: 0 1px;
      position: relative;
      overflow: hidden;
      text-align: center;
      background: #fff; }
      @media screen and (max-width: 980px) {
        .list-schooll .widget-list-schooll .box {
          flex: 0 0 20%; } }
      @media screen and (max-width: 768px) {
        .list-schooll .widget-list-schooll .box {
          flex: 0 0 33.333%; } }
      @media screen and (max-width: 425px) {
        .list-schooll .widget-list-schooll .box {
          flex: 0 0 50%; } }
      .list-schooll .widget-list-schooll .box img {
        width: 100px;
        object-fit: cover;
        padding: 34px 0; }
      .list-schooll .widget-list-schooll .box span {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 68%;
        height: 32px;
        background: #064;
        border-top-right-radius: 50px;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        line-height: 32px;
        padding-right: 20px; }
      .list-schooll .widget-list-schooll .box span:before {
        content: "";
        width: 8px;
        height: 100%;
        background: #f39316;
        border-top-right-radius: 20px;
        position: absolute;
        bottom: 0;
        left: 0; }

.banner-top-why {
  position: relative; }
  .banner-top-why .img-banner img {
    height: 532px;
    object-fit: cover; }
    @media screen and (max-width: 1366px) {
      .banner-top-why .img-banner img {
        height: 585px; } }
    @media screen and (max-width: 980px) {
      .banner-top-why .img-banner img {
        height: 557px; } }
  .banner-top-why .title-top {
    position: absolute;
    top: 0;
    left: 0; }
    .banner-top-why .title-top .text {
      margin-top: 115px;
      max-width: 676px; }
      @media screen and (max-width: 1366px) {
        .banner-top-why .title-top .text {
          max-width: 384px; } }
      @media screen and (max-width: 980px) {
        .banner-top-why .title-top .text {
          max-width: 280px;
          margin-top: 50px; } }
      .banner-top-why .title-top .text h1 {
        font-size: 46px;
        color: #f39316;
        font-weight: 600; }
        @media screen and (max-width: 1366px) {
          .banner-top-why .title-top .text h1 {
            font-size: 33px; } }
        @media screen and (max-width: 980px) {
          .banner-top-why .title-top .text h1 {
            font-size: 27px; } }
        .banner-top-why .title-top .text h1 span {
          display: inline-block;
          color: #fff;
          padding: 10px 20px;
          position: relative;
          background: #064;
          padding-top: 15px;
          border-radius: 10px;
          -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 100%, 3% 100%, 0 17%);
          clip-path: polygon(100% 0, 100% 100%, 50% 100%, 3% 100%, 0 17%); }
          @media screen and (max-width: 980px) {
            .banner-top-why .title-top .text h1 span {
              padding: 5px 13px; } }
      .banner-top-why .title-top .text p {
        margin-top: 30px; }

.service {
  background: url("../img/why/banner/background-2.jpg") no-repeat;
  background-size: cover;
  padding: 70px 0; }
  .service h3 {
    color: #f39316; }
    .service h3 span {
      color: #fff; }
  .service p.content {
    color: #006644;
    font-weight: 500;
    color: #fff;
    padding-top: 30px; }
  .service .img-service {
    overflow: hidden;
    border-radius: 10px; }
    .service .img-service img {
      object-fit: cover;
      width: 100%; }

.endow {
  background: #044531;
  padding: 70px 0; }
  .endow h5 {
    font-size: 25px;
    font-weight: 600;
    color: #fff; }
  .endow .img-endow {
    background: url("../img/why/endow-1.jpg") no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 226px;
    padding: 22px;
    margin-top: 20px; }
    .endow .img-endow h4 {
      font-size: 30px;
      flex: 0 0 45%;
      color: #fff; }
    .endow .img-endow p {
      flex: 0 0 55%;
      color: #fff; }

.why-define .img-background img {
  width: 100%;
  object-fit: cover; }
.why-define .why-content {
  max-width: 600px; }
  .why-define .why-content span {
    color: #006644; }
  .why-define .why-content p.content {
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    padding: 20px 0; }
.why-define .list-title li i {
  color: #404449; }
.why-define .list-title li span {
  text-transform: inherit;
  color: black; }

.why-consultation-process {
  background: #f4f6f8; }
  .why-consultation-process .widget-process {
    padding: 34px;
    background: #006644;
    border-radius: 14px;
    height: 100%; }
    .why-consultation-process .widget-process .icon-top {
      display: flex;
      justify-content: space-between; }
      .why-consultation-process .widget-process .icon-top .icon {
        flex: 0 0 35%; }
        @media screen and (max-width: 1366px) {
          .why-consultation-process .widget-process .icon-top .icon img {
            width: 90%; } }
      .why-consultation-process .widget-process .icon-top .title {
        flex: 0 0 55%; }
        .why-consultation-process .widget-process .icon-top .title span, .why-consultation-process .widget-process .icon-top .title h3 {
          font-size: 25px;
          font-weight: 600;
          color: #fff;
          text-transform: uppercase;
          line-height: 1.5; }
          @media screen and (max-width: 1366px) {
            .why-consultation-process .widget-process .icon-top .title span, .why-consultation-process .widget-process .icon-top .title h3 {
              font-size: 14px; } }
    .why-consultation-process .widget-process .description {
      margin-bottom: 30px;
      height: 170px;
      overflow: auto;
      overflow-x: hidden;
      margin-top: 20px; }
      .why-consultation-process .widget-process .description p {
        font-size: 20px;
        line-height: 1.5;
        color: #ccd9d4;
        font-weight: 600;
        font-style: italic;
        padding-right: 10px; }
    .why-consultation-process .widget-process ul.list-title li span {
      text-transform: initial; }

.why-file {
  position: relative; }
  .why-file .why-file-limit span {
    color: #006644; }
  .why-file .why-file-limit p.content {
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    padding: 20px 0; }
  .why-file .why-file-background {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 45%;
    height: 90%; }
    @media screen and (max-width: 980px) {
      .why-file .why-file-background {
        display: none; } }

.banner-top-basic .title-top {
  position: absolute;
  top: 0;
  left: 0; }
  .banner-top-basic .title-top .text {
    margin-top: 115px;
    max-width: 520px; }
    @media screen and (max-width: 1366px) {
      .banner-top-basic .title-top .text {
        max-width: 384px; } }
    @media screen and (max-width: 980px) {
      .banner-top-basic .title-top .text {
        max-width: 280px;
        margin-top: 50px; } }
    .banner-top-basic .title-top .text span {
      font-size: 35.09px;
      text-transform: uppercase;
      font-weight: 500;
      color: #f39316; }
      @media screen and (max-width: 980px) {
        .banner-top-basic .title-top .text span {
          font-size: 18px; } }
    .banner-top-basic .title-top .text h1 {
      font-size: 38px;
      color: #006644;
      text-transform: uppercase; }
      @media screen and (max-width: 980px) {
        .banner-top-basic .title-top .text h1 {
          font-size: 30px; } }
    .banner-top-basic .title-top .text p {
      margin-top: 30px;
      font-weight: 600;
      font-style: italic; }

.basic-skill .widget-icon {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -1px;
  position: relative;
  z-index: 2;
  margin-top: -80px; }
  @media screen and (max-width: 1200px) {
    .basic-skill .widget-icon {
      margin-top: 90px; } }
  @media screen and (max-width: 768px) {
    .basic-skill .widget-icon .p-custom:nth-child(1) .box-icon {
      border-top-left-radius: 0px !important; }
    .basic-skill .widget-icon .p-custom:last-child .box-icon {
      border-top-right-radius: 0px !important; } }
  .basic-skill .widget-icon .p-custom .box-icon {
    background: #034a34;
    height: 100%;
    padding: 60px 35px;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .basic-skill .widget-icon .p-custom .box-icon {
        padding-top: 60px; } }
    .basic-skill .widget-icon .p-custom .box-icon:hover .icon-img {
      transform: scale(1.2);
      transition: all .3s; }
    .basic-skill .widget-icon .p-custom .box-icon .icon-img {
      width: 120px;
      height: 120px;
      background: #f39316;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin: 0 auto;
      margin-top: -120px;
      transition: all .3s; }
    .basic-skill .widget-icon .p-custom .box-icon p {
      margin-bottom: 0;
      padding-top: 30px;
      font-size: 18px;
      color: #fff;
      line-height: 1.5em; }
  .basic-skill .widget-icon .p-custom:nth-child(1) .box-icon {
    border-top-left-radius: 30px; }
  .basic-skill .widget-icon .p-custom:nth-child(2n+2) .box-icon {
    background: #0a694b; }
  .basic-skill .widget-icon .p-custom:last-child .box-icon {
    border-top-right-radius: 30px; }

.basic-content .title h3 {
  font-size: 45px;
  color: #fff;
  font-weight: 700;
  background: #006644;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 10px;
  margin-bottom: 35px;
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 4% 100%);
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 4% 100%); }
.basic-content .title p {
  font-size: 18px; }
.basic-content .number-build {
  background: #fff;
  -webkit-box-shadow: 0 0 20px 5px #f4f4f4;
  box-shadow: 0 0 20px 5px #f4f4f4;
  height: 125px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: left; }
  .basic-content .number-build span {
    position: absolute;
    top: -70px;
    left: -90px;
    width: 175px;
    height: 175px;
    background: #064;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 40px;
    color: #fff;
    font-weight: 800;
    border-radius: 50%;
    padding-left: 75px;
    padding-top: 60px; }
  .basic-content .number-build p {
    margin-bottom: 0;
    font-size: 16px;
    color: #404449;
    line-height: 1.5;
    padding: 0 25px;
    padding-left: 100px; }

.basic-table {
  background: #fff; }
  .basic-table .table {
    display: table;
    margin-bottom: 0;
    text-align: center; }
    .basic-table .table thead {
      background: #006644; }
      .basic-table .table thead tr {
        padding-bottom: 20px; }
        .basic-table .table thead tr th {
          font-size: 15px;
          color: #fff;
          padding: 20px 0;
          vertical-align: middle;
          padding-right: 100px;
          line-height: 1.5; }
          @media screen and (min-width: 1900px) {
            .basic-table .table thead tr th {
              font-size: 20px; } }
    .basic-table .table tbody tr td {
      font-size: 15px;
      padding: 20px 0;
      vertical-align: middle;
      color: #222;
      padding-right: 80px; }
      @media screen and (min-width: 1900px) {
        .basic-table .table tbody tr td {
          font-size: 20px; } }
    .basic-table .table tbody tr:nth-child(1) td:nth-child(1) {
      font-size: 30px;
      color: #f39316;
      font-weight: 700; }
      @media screen and (min-width: 1900px) {
        .basic-table .table tbody tr:nth-child(1) td:nth-child(1) {
          font-size: 40px; } }
  .basic-table .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; }

.no-fear {
  background: #f2f4f7; }
  .no-fear .title h3 span {
    color: #006644; }
  .no-fear .box-student {
    text-align: center;
    margin-bottom: 2px;
    background: #fff;
    border-radius: 10px;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .no-fear .box-student .avatar {
      padding: 20px 0;
      text-align: center; }
      .no-fear .box-student .avatar img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        -o-object-fit: cover;
        object-fit: cover; }
    .no-fear .box-student .title {
      padding-bottom: 17px;
      border-bottom: 2px solid #f2f4f7; }
      .no-fear .box-student .title h3 {
        display: block;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
        color: #064;
        margin-bottom: 7px; }
      .no-fear .box-student .title p {
        margin-bottom: 7px;
        font-size: 14px;
        color: #28292d; }
      .no-fear .box-student .title ul li {
        display: inline-block;
        font-size: 20px;
        padding: 0 2px; }
        .no-fear .box-student .title ul li i {
          color: gray; }
    .no-fear .box-student .content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: center; }
      .no-fear .box-student .content .point {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 100%;
        padding: 13px 0;
        padding-left: 20px;
        text-align: left; }
        .no-fear .box-student .content .point p {
          margin-bottom: 5px;
          font-size: 15px;
          color: #28292d; }
        .no-fear .box-student .content .point h3 {
          font-size: 16px;
          color: #f39316;
          font-weight: 700;
          text-transform: uppercase; }
          .no-fear .box-student .content .point h3 span {
            font-size: 20px;
            font-weight: 800; }
      .no-fear .box-student .content .point:last-child h3 span {
        color: #006644; }

.banner-top-target .img-banner img, .banner-top-share .img-banner img {
  height: 400px !important; }
  @media screen and (max-width: 768px) {
    .banner-top-target .img-banner img, .banner-top-share .img-banner img {
      height: 235px !important; } }
.banner-top-target .title-top .text, .banner-top-share .title-top .text {
  margin-top: 82px !important;
  margin-left: 30px; }
  .banner-top-target .title-top .text span, .banner-top-share .title-top .text span {
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    position: relative;
    background: #064;
    padding-top: 15px;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 100%, 3% 100%, 0 17%);
    clip-path: polygon(100% 0, 100% 100%, 50% 100%, 3% 100%, 0 17%); }

.target-action p.content {
  font-size: 20px;
  font-weight: 600; }
.target-action .widget-action h3.title span {
  color: #006644; }
.target-action .widget-action p {
  padding-top: 10px;
  line-height: 1.5; }
.target-action .widget-action ul.list-title li i {
  color: #006644; }
.target-action .widget-action ul.list-title li span {
  color: black;
  text-transform: inherit; }

.news-mains .news-img {
  max-height: 375px; }
  .news-mains .news-img img {
    width: 100%;
    object-fit: cover; }
.news-mains h4.title-news {
  font-weight: 600; }
  .news-mains h4.title-news a {
    color: #006644; }

.latest-news h3.title-news, .detail-news h3.title-news {
  margin-top: 20px; }
.latest-news .description h5.laster a, .detail-news .description h5.laster a {
  color: #006644; }
.latest-news .description h5.title-news, .detail-news .description h5.title-news {
  margin-top: 10px; }
  .latest-news .description h5.title-news a, .detail-news .description h5.title-news a {
    color: black; }
.latest-news a.page-link, .detail-news a.page-link {
  color: black; }
.latest-news a.page-link:hover, .detail-news a.page-link:hover {
  z-index: 2;
  color: #fff;
  text-decoration: none;
  background-color: #006644;
  border-color: #006644; }

.detail-news .detail h3.title-news a {
  color: #424242; }
.detail-news .icon {
  display: flex;
  justify-content: flex-start; }
  .detail-news .icon p.content {
    padding-right: 20px; }
  .detail-news .icon .logo a i {
    font-size: 25px;
    padding-right: 5px; }
.detail-news .related-news {
  padding-bottom: 20px; }
  .detail-news .related-news h5.title-news a {
    color: #006644; }
  .detail-news .related-news .related-content {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 20px;
    margin-top: 20px; }
    .detail-news .related-news .related-content h5.title-news {
      font-weight: 600; }

.share-content .square:nth-child(even) .widget-parent {
  background: #006644 !important; }
.share-content .square:nth-child(even):hover .widget-parent {
  background: #f39316 !important; }

.contact {
  padding: 30px;
  margin-top: -100px; }
  @media screen and (max-width: 768px) {
    .contact {
      padding: 10px; } }
  .contact .form-contact {
    padding: 30px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 8px 14px #8a8080; }
    @media screen and (max-width: 768px) {
      .contact .form-contact {
        padding: 15px; } }
    .contact .form-contact .input-form-contact {
      border-top: 0px !important;
      border-right: 0px !important;
      border-left: 0px !important;
      padding-left: 0; }
      .contact .form-contact .input-form-contact:focus {
        box-shadow: none; }
    .contact .form-contact .form-group {
      text-align: left;
      margin-top: 15px; }
      .contact .form-contact .form-group label {
        font-size: 17px;
        font-weight: 600;
        text-align: left; }
    .contact .form-contact .select-object {
      background: #e4e4e4;
      border-radius: 30px; }
      .contact .form-contact .select-object label span {
        border-radius: 20px; }
      .contact .form-contact .select-object label input {
        opacity: 0; }
        .contact .form-contact .select-object label input:checked ~ span {
          background: #0a694b; }
      .contact .form-contact .select-object label:hover {
        cursor: pointer; }
  .contact button.btn-contact {
    padding: 10px 30px;
    width: 100%;
    background: #006644;
    color: #fff;
    border: none;
    border-radius: 20px;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 15px; }
    @media screen and (max-width: 768px) {
      .contact button.btn-contact {
        margin: 0 auto;
        width: 100%; } }
    .contact button.btn-contact:hover {
      background: #f39316; }
  .contact .icon-phone {
    margin-top: 15px;
    display: flex;
    align-items: center; }
    .contact .icon-phone .img-phone img {
      transition: 0.5s; }
      .contact .icon-phone .img-phone img:hover {
        transform: scale(1.2); }
    .contact .icon-phone .text-phone {
      padding-left: 30px; }
      .contact .icon-phone .text-phone p {
        font-size: 16px;
        margin-bottom: 5px; }
      .contact .icon-phone .text-phone span {
        font-size: 22px;
        font-weight: 600; }
        @media screen and (max-width: 768px) {
          .contact .icon-phone .text-phone span {
            font-size: 17px; } }

footer .footer-container {
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 90px;
  padding-top: 60px; }
  footer .footer-container .footer-bottom .logo-footer {
    position: relative;
    z-index: 9; }
    footer .footer-container .footer-bottom .logo-footer h2 {
      font-size: 22px;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      padding: 25px 0; }
    footer .footer-container .footer-bottom .logo-footer .word-time {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      footer .footer-container .footer-bottom .logo-footer .word-time .icon-word {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 15%;
        flex: 0 0 15%;
        height: 70px;
        max-width: 100%;
        background: #f39316;
        border-radius: 50%;
        text-align: center; }
        footer .footer-container .footer-bottom .logo-footer .word-time .icon-word i {
          line-height: 70px;
          font-size: 30px;
          color: #fff; }
        footer .footer-container .footer-bottom .logo-footer .word-time .icon-word i::before {
          content: "\f133"; }
      footer .footer-container .footer-bottom .logo-footer .word-time .text-word-time {
        padding-left: 10px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 85%;
        flex: 0 0 85%;
        height: 85%;
        max-width: 100%; }
        footer .footer-container .footer-bottom .logo-footer .word-time .text-word-time p {
          margin-bottom: 8px;
          font-size: 14px;
          color: #f39316;
          font-weight: 700; }
        footer .footer-container .footer-bottom .logo-footer .word-time .text-word-time ul li {
          padding-bottom: 8px;
          font-size: 14px;
          color: #fff;
          font-weight: 300; }
  footer .footer-container .footer-bottom .list-footer-container .list-footer {
    padding-top: 65px;
    padding-left: 40px; }
    @media screen and (max-width: 767.98px) {
      footer .footer-container .footer-bottom .list-footer-container .list-footer {
        padding-left: 0;
        padding-top: 0; } }
    footer .footer-container .footer-bottom .list-footer-container .list-footer ul li {
      display: block;
      padding-bottom: 25px; }
      footer .footer-container .footer-bottom .list-footer-container .list-footer ul li a {
        font-size: 15px;
        color: #fff;
        line-height: 1.5;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        footer .footer-container .footer-bottom .list-footer-container .list-footer ul li a .text {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 84.8%;
          flex: 0 0 84.8%;
          max-width: 100%;
          padding-left: 10px; }
        footer .footer-container .footer-bottom .list-footer-container .list-footer ul li a .icon {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 15.2%;
          flex: 0 0 15.2%;
          max-width: 100%;
          height: 40px;
          border-radius: 50%;
          background: rgba(2, 2, 2, 0.5);
          text-align: center;
          line-height: 45px;
          font-size: 18px; }

.contact-right-pc {
  right: 0;
  top: 100px;
  background: #fff;
  width: 75px;
  height: 250px;
  border-radius: 40px 0px 0px 40px;
  transition: .5s; }
  .contact-right-pc .content {
    padding: 20px 0px 20px 20px; }
    .contact-right-pc .content ul li {
      margin-top: 18px;
      display: flex;
      align-items: center; }
      .contact-right-pc .content ul li .icon-fb {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #0000cc;
        color: #fff; }
  .contact-right-pc:hover {
    width: 250px;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -ms-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear; }

.scroll-top {
  right: 15px;
  bottom: 20px; }
  .scroll-top .button-scroll {
    background: #0b2e13;
    border-radius: 50%; }

.menu-mobile {
  position: relative;
  top: 42px;
  /* right: 0; */ }
  .menu-mobile ul {
    /* display: none; */
    position: absolute;
    top: 67px;
    right: -112px;
    width: 300px;
    z-index: 999;
    background: aqua; }
    .menu-mobile ul li ul.nav-child {
      visibility: hidden; }

/*# sourceMappingURL=page.css.map */
